<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="Config.xml">
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_UserManager" />
        <binding name="BasicHttpBinding_IU8Operation" />
        <binding name="BasicHttpBinding_IReport" />
      </basicHttpBinding>
    </bindings>
     
    <client>
      <endpoint address="http://127.1.1.1:8000/U8Operation" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IU8Operation" contract="U8API.IU8Operation" name="BasicHttpBinding_IU8Operation" />
      <endpoint address="http://127.1.1.1:8000/UserManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UserManager" contract="UserManager.UserManager" name="BasicHttpBinding_UserManager" />
      <endpoint address="http://127.0.0.1:8000/Report" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReport" contract="Report.IReport" name="BasicHttpBinding_IReport" />
    </client>
  </system.serviceModel>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI.OOXML" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
