
@{

}

@section script{
<script type="text/javascript">
        $(document).ready(function () {
            loadTreeGrid();
        });
        // 加载js tree 表格

        function loadTreeGrid() {
            index = 0;
            $('#menuTreeGrid').treegrid({
                url: '@Url.Content("~/QWebFramework/Menu/GetMenuTreeGrid")',
                idField: 'MenuId',
                treeField: 'MenuName',
                fit: true,
                fitColumns: false,
                toolbar: '#toolbar',
                border: false
            });
        }

        function expandAll() {
            $('#menuTreeGrid').treegrid('expandAll');
        }

        var index = 0;
        function fmtSort(value, row) {
            index++;
            return "<input type='text' name='sortId_" + row.MenuId + "' value='" + index + "' size='5'/>";
        }
        function btnSort() {
            $.messager.confirm('排序确认框', '确定要重新排序吗?', function (r) {
                if (r) {
                    $('#mainForm').ajaxSubmit({
                        url: '@Url.Content("~/QWebFramework/Menu/MenuTreeSort")',
                        success: function (res) {
                            if (res.Success) {
                                loadTreeGrid();
                            }
                        }
                    });
                    return false;
                }
            });
        }
</script>
}
<body>
    <form id="mainForm" name="mainForm" method="post">
        <div id="toolbar" style="padding:3px">
            <a href="@Url.Content("~/QWebFramework/Menu/MenuList")" class="easyui-linkbutton" data-options="iconCls:'icon-back'" style="width:80px">返回</a>
            <a href="javascript:void(0);" class="easyui-linkbutton" style="width:80px" onclick="btnSort();">排序</a>
            <a href="javascript:void(0);" class="easyui-linkbutton" style="width:100px" onclick="expandAll();">展开全部</a>
        </div>
        <table id="menuTreeGrid" title="系统菜单" class="easyui-treegrid">
            <thead>
            <th field="MenuName" width="300">菜单名称</th>
            <th field="SortId" width="80" formatter='fmtSort'>排序ID</th>
            <th field="CreateTime" width="130">创建时间</th>
            <th field="UpdateTime" width="130">修改时间</th>
            </thead>
        </table>
    </form>
</body>

