<?xml version="1.0" encoding="utf-8" ?>
<!--
系统通用的参数配置文件
-->
<ConfigPool>
  <!-- 跨域访问 域名列表  -->
  <Parameter Name="Origins" Value="http://localhost:35380" />
  <!-- 是否开启Debug状态 ,与记录日志方式有关系 -->
  <Parameter Name="Debug" Value="true" />
  <!-- 站点根路径,如果是根站点则可以不配置 ,点表示 根站点-->
  <Parameter Name="SiteRootPath" Value="." />
  <!-- 日志目录-->
  <Parameter Name="LogPath" Value="C:\Logs" />
  <!-- KEY-->
  <Parameter Name="DES3_Key" Value="ShdjZGfEsd56ddtebW5wcHFyc3R1ld16" />
  <!-- 用户TOKEN 超时时间 单位（小时）-->
  <Parameter Name="UserToken_TimeOut" Value="8" />
  <!-- 系统登录地址 -->
  <Parameter Name="LoginUrl" Value="/Login.html" />
  
  <Parameter Name="AppName" Value="QCRM" />
  
  <!-- windows 程序运行调用框架接口，默认的用户-->
  <Parameter Name="WindowsAppUserId" Value="100000" />
  <Parameter Name="WindowsAppUserName" Value="admin" />
 
</ConfigPool>