<?xml version="1.0" encoding="utf-8" ?>
<!--CRM 模块配置文件 -->
<ConfigPool>
  <Parameter Name="customer.main.list" Value="customer_list" />
  <!-- <Parameter Name="customer.sublevel.list" Value="customer_linkman,customer_linkman_record,customer_finance_record,customer_work_record,customer_shangbiao,customer_zhuanli,customer_copyright,customer_warning_address,customer_warning_nianbao" />-->
  <Parameter Name="customer.sublevel.list" Value="customer_linkman,customer_linkman_record,customer_finance_record,customer_work_record" />

  <!-- 客户信息分类扩展-->
  <CustomerTab>
    <Item Name="基本资料" Code="TB001"/>
    <Item Name="商务资料" Code="TB002"/>
  </CustomerTab>
  
</ConfigPool> 