<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers>
      <container name="iocset">
        <types>
          <!--<type type="QWebFramework.IOC.IOrganizationIoc,QWebFramework" mapTo="X360Doo.Web.IocDemo,X360Doo.Web"></type>-->
        </types>
      </container>
    </containers>
  </unity>
</configuration>
