<body id="mainLayout" class="easyui-layout">
    <div id="mainTopNva" region="north" border="false" style="height: 50px">
        @{
            Html.RenderPartial("~/Views/Shared/_TopNav.cshtml");
        }
    </div>
    <div region="west" border="true" split="true" style="width: 200px;" title="时间">
        <div id="cc" class="easyui-calendar" style="width:100%;height:180px;"></div>
        <table class="easyui-datagrid">
            <thead>
                <tr>
                    <th data-options="field:'code'">主题</th>
                    <th data-options="field:'name'">时间</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>name1</td>
                    <td>2323</td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>name1</td>
                    <td>2323</td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>name1</td>
                    <td>2323</td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>name1</td>
                    <td>2323</td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>name1</td>
                    <td>2323</td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>name1</td>
                    <td>2323</td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>name1</td>
                    <td>2323</td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>name2</td>
                    <td>4612</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div region="center">
        <div style="height:30px">
            <a id="add" class="easyui-linkbutton" iconCls="icon-add" plain="true" >新增</a>
            <a  class="easyui-linkbutton" iconCls="icon-edit" plain="true"></a>
            <a  class="easyui-linkbutton" iconCls="icon-save" plain="true"></a>
            <a  class="easyui-linkbutton" iconCls="icon-cut" plain="true"></a>
            <a  class="easyui-linkbutton" iconCls="icon-remove" plain="true"></a>
        </div>
       
        <div id="editor">
            <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
        </div>

        </div>
</body>
  <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript" src="~/QCRM/Scripts/wangEditor/wangEditor.js"></script>
<script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#editor')
        // 或者 var editor = new E( document.getElementById('editor') )
        editor.create()
        $(function () {
            $('#cc').datebox({
                onShowPanel: function () { //显示日趋选择对象后再触发弹出月份层的事件，初始化时没有生成月份层
                    span.trigger('click'); //触发click事件弹出月份层
                    if (!tds) setTimeout(function () { //延时触发获取月份对象，因为上面的事件触发和对象生成有时间间隔
                        tds = p.find('div.calendar-menu-month-inner td');
                        tds.click(function (e) {
                            e.stopPropagation(); //禁止冒泡执行easyui给月份绑定的事件
                            var year = /\d{4}/.exec(span.html())[0] //得到年份
                                ,
                                month = parseInt($(this).attr('abbr'), 10); //月份，这里不需要+1
                            $('#cc').datebox('hidePanel') //隐藏日期对象
                                .datebox('setValue', year + '-' + month); //设置日期的值
                        });
                    }, 0);
                    yearIpt.unbind(); //解绑年份输入框中任何事件
                },
                parser: function (s) {
                    if (!s) return new Date();
                    var arr = s.split('-');
                    return new Date(parseInt(arr[0], 10), parseInt(arr[1], 10) - 1, 1);
                },
                formatter: function (d) {
                    var currentMonth = (d.getMonth() + 1);
                    var currentMonthStr = currentMonth < 10 ? ('0' + currentMonth) : (currentMonth + '');
                    return d.getFullYear() + '-' + currentMonthStr;
                }
            });
            var p = $('#cc').datebox('panel'), //日期选择对象
                tds = false, //日期选择对象中月份
                yearIpt = p.find('input.calendar-menu-year'), //年份输入框
                span = p.find('span.calendar-text'); //显示月份层的触发控件

            var curr_time = new Date();
            $("#cc").datebox("setValue", myformatter(curr_time));


        })

        //格式化日期，仅年月
        function myformatter(date) {
            //获取年份
            var y = date.getFullYear();
            //获取月份
            var m = date.getMonth() + 1;
            return y + '-' + m;
        }
</script>